# Fazendo importação dos dados

In [ ]:
# Importando as Bibliotecas
import pandas as pd
# Para importar uma pasta de arquivos
import os

In [ ]:
# Pegando os arquivos
lista_arquivos = os.listdir('/content/vendas')

# Criando um DataFrame vazio
vendas = pd.DataFrame()

for arquivo in lista_arquivos:
  # Para pegar apenas os arquivos de vendas
  if 'Vendas' in arquivo:
    tabelas = pd.read_csv(f'/content/vendas/{arquivo}')

    # Adicionando arquivos
    vendas = pd.concat([vendas, tabelas])

# Visualizando DataFrame com todos os arquivos
vendas

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,13,HL4379,Televisão,1,Daniel,Monteiro,5/23/2018,Goiás,2500,NaN
1,19,HL9962,Android,4,Elaine,Santos,7/5/2018,Goiás,3400,NaN
2,45,HL1918,iPhone,5,Lenon,Fernandes,3/31/2018,Goiás,5300,NaN
3,50,HL7348,SmartWatch,1,Vivianne,Rodrigues,8/11/2018,Goiás,1400,NaN
4,97,HL7348,SmartWatch,2,Pedro,Rodrigues,7/26/2018,Goiás,1400,NaN
...,...,...,...,...,...,...,...,...,...,...
720,9938,HL4379,Televisão,3,Fernanda,Silva,12/18/2018,Recife,2500,NaN
721,9941,HL2714,Tablet,5,Alvaro,Kranz,11/21/2018,Recife,1600,NaN
722,9969,HL1918,iPhone,4,Itai,Puntel,11/6/2018,Recife,5300,NaN
723,9986,HL9962,Android,4,Julia,Leite,4/8/2018,Recife,3400,NaN
724,9992,HL1918,iPhone,1,Marina,Cormack,12/31/2018,Recife,5300,NaN

# Fazendo análise e tratamento dos dados

In [ ]:
# Excluindo as colunas desnecessárias
vendas_tratado = vendas.drop(columns=['Unnamed: 0', 'Unnamed: 8'])
vendas_tratado

,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario
0,HL4379,Televisão,2,Carolina,Alfradique,2/25/2018,Belo Horizonte,2500
1,HL4379,Televisão,1,Danilo,Rubim,2/20/2018,Belo Horizonte,2500
2,HL1918,iPhone,5,Bernard,Pedrosa,7/7/2018,Belo Horizonte,5300
3,HL1918,iPhone,5,Lucas,Lemos,12/26/2018,Belo Horizonte,5300
4,HL8851,Notebook,5,Bernardo,Botelho,6/8/2018,Belo Horizonte,3500
...,...,...,...,...,...,...,...,...
2221,HL7348,SmartWatch,4,João,Junior,4/14/2018,São Paulo,1400
2222,HL1918,iPhone,4,Itai,Puntel,5/2/2018,São Paulo,5300
2223,HL1918,iPhone,1,Guilherme,Vianna,3/18/2018,São Paulo,5300
2224,HL7348,SmartWatch,5,Antônio,Soares,11/21/2018,São Paulo,1400
2225,HL4379,Televisão,5,Caio,Moraes,1/22/2018,São Paulo,2500

In [ ]:
# Verficando presença de valores vazios nas colunas
vendas_tratado.isnull().value_counts()

SKU    Produto  Quantidade Vendida  Primeiro Nome  Sobrenome  Data   Loja   Preco Unitario
False  False    False               False          False      False  False  False             9999
Name: count, dtype: int64

# Respondendo as perguntas

1- Qual o produto que foi mais vendido?

In [ ]:
# Agrupando cada produto pela qntdd vendida e somando para ver total de vendas
produtos_vendidos = vendas_tratado.groupby('Produto')['Quantidade Vendida'].sum()

# Mostrando os produtos do mais vendido para os menos vendidos
produtos_vendidos.sort_values(ascending=False)

Produto
iPhone        8974
Televisão     5931
Notebook      3249
Android       3183
SmartWatch    2980
Tablet        2921
Câmera        2805
Name: Quantidade Vendida, dtype: int64

2- Qual o produto que teve o maior faturamento?

In [ ]:
# Criando uma função que calcula o faturamento
def calcula_faturamento(row):
  # Faturamento é a Quantidade vendida * o Preço Unitario
  faturamento_row = row['Quantidade Vendida'] * row['Preco Unitario']
  # Retorna o resultado da multiplicação
  return faturamento_row

# Aplicando a função a todas as linhas do DataFrame e salvando na nova coluna 'Faturamento'
vendas_tratado['Faturamento'] = vendas_tratado.apply(calcula_faturamento, axis=1)

# Verificando o resultado
vendas_tratado.head()

,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Faturamento
0,HL4379,Televisão,2,Carolina,Alfradique,2/25/2018,Belo Horizonte,2500,5000
1,HL4379,Televisão,1,Danilo,Rubim,2/20/2018,Belo Horizonte,2500,2500
2,HL1918,iPhone,5,Bernard,Pedrosa,7/7/2018,Belo Horizonte,5300,26500
3,HL1918,iPhone,5,Lucas,Lemos,12/26/2018,Belo Horizonte,5300,26500
4,HL8851,Notebook,5,Bernardo,Botelho,6/8/2018,Belo Horizonte,3500,17500

In [ ]:
# Agrupando os Produtos pelo Faturamento
produto_mais_faturado = vendas_tratado.groupby('Produto')['Faturamento'].sum()

# Mostrando os produtos que mais faturaram para o que menos faturaram
produto_mais_faturado.sort_values(ascending = False)

Produto
iPhone        47562200
Televisão     14827500
Notebook      11371500
Android       10822200
Câmera         5890500
Tablet         4673600
SmartWatch     4172000
Name: Faturamento, dtype: int64

3- Qual a loja/cidade que teve o maior faturamento?

In [ ]:
# No lugar de ver o produto, agora vamos ver a loja ps: o nome da cidade está na coluna 'Loja'
cidade_mais_faturou = vendas_tratado.groupby('Loja')['Faturamento'].sum()

# Mostrando as lojas que mais faturaram para as que menos faturaram
cidade_mais_faturou.sort_values(ascending = False)

Loja
São Paulo         22098300
Rio de Janeiro    14867800
Fortaleza         14087900
Salvador          13111300
Goiás              7441800
Recife             7303000
Curitiba           7060500
Porto Alegre       6868600
Belo Horizonte     6480300
Name: Faturamento, dtype: int64